pip>=25.2
streamlit>=1.29.0,<2.0
transformers>=4.41.0
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
PyPDF2==3.0.1
reportlab>=3.6.13
pytesseract==0.3.10
numpy==1.26.4
pandas>=2.3.3
regex>=2023.12.25
pillow==11.0.0
blis==0.7.10

