p# Core app
streamlit==1.38.0

# NLP + Summarization
transformers==4.40.2
torch==2.2.2
spacy==3.6.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz

# PDF + OCR
PyPDF2==3.0.1
reportlab==3.6.13
pytesseract==0.3.10
pillow==10.4.0

# Data handling
pandas==2.2.2
numpy==1.26.4

# Utility
regex==2023.12.25

